.modal {
position: fixed;
left: 0;
top: 0;
right: 0;
bottom: 0;
background-color: rgba(197,222,221, 0.5);
display: flex;
align-items: center;
justify-content: center;
border-radius: 15px;
}

.modal-content {
  width: 700px;
  background-color:  #001427;
  height: 700px;
  border-radius: 15px;
}

.modal-header, . modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #708D81;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.modal-content button {
  margin: 5px;
  text-transform: uppercase;
  background: #708D81;
  color: white;
}
#googleMap input {
   border-radius: 5px;
}

h4 {
  font-size: 30px;
}
